*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    background: #F8F6F3;
    color: #2C2C2C;
}

a{
   
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

ul{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
}